<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>归档</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"><!-- 1.引入cdn-->
    <link rel="stylesheet" href="../static/css/me.css">   <!--8 引入自己写的缩小导航栏css-->
</head>
<body>
    <!--导航-->                                                    <!--8 m-padded-tb-mini 缩小导航栏-->
    <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small m-shadow-small">   <!--3.引入ui   inverted反转颜色  segment片段 attached无圆角-->
        
        <div class="ui container">           <!-- 6.输入 div.ui.container 回车  放入容器中-->
            <div class="ui inverted secondary stackable menu">  <!-- 4.输入 div.ui.menu 回车  添加菜单 8.secondary 颜色字体变好看-->
                <h2 class="ui teal header item">Blog</h2>   <!-- 5 teal蓝绿色  header头部样式 item添加分隔线条-->
                <a href="#" class="m-item item white m-moblle-hide"><i class=" home  icon"></i> 首页</a>         <!--7. 建链接 小标题-->
                <a href="#" class="m-item item white m-moblle-hide"><i class=" idea  icon"></i> 分类</a> 
                <a href="#" class=" m-item item white m-moblle-hide"><i class=" tags  icon"></i> 标签</a>
                <a href="#" class="active m-item item white m-moblle-hide"><i class=" clone  icon"></i> 归档</a>
                <a href="#" class="m-item item white m-moblle-hide"><i class=" info  icon"></i> 关于我</a>        <!--9 icon 插入图标 快捷键i.home.icon-->
                <div class="right m-item item m-moblle-hide">
                    <div class="ui icon  input inverted transparent">              
                        <input type="text" placeholder="Search.....">              <!-- 10  right 最右 添加搜索框和 字幕  transparent变透明-->
                        <i class="search icon"></i>
                    </div>
                </div>
             </div> 
        </div> 
        <a href="#" class="ui menu toggle black button m-right-top m-moblile-show">
            <i class="sidebar icon"></i>
        </a> 
    </nav>


    <!--中间内容-->
    <div class="  m-padded-tb-big m-container-small">
        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment padded">                      <!--20写左半部分的头内容-->
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">归档</h3>
                    </div>
                    <div class="right aligned column ">
                        共<h2 class="ui orange header m-inline-block m-inline-block"> 128 </h2>篇博客
                    </div>
                </div>
            </div>
                <!--2019-->
            <h3 class="ui center aligned header">2019</h3>
            <div class="ui vertical menu fluid">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>

            </div>
                <!--2020-->
                <h3 class="ui center aligned header">2020</h3>
            <div class="ui vertical menu fluid">
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>
                <a href="#" target="_blank" class="item">
                    <span>
                        <i class="circle icon mini teal"></i> 关于近期ctf大会
                        <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                    </span>
                    <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                </a>

            </div>
               <!--2021-->
               <h3 class="ui center aligned header">2021</h3>
               <div class="ui vertical menu fluid">
                   <a href="#" target="_blank" class="item">
                       <span>
                           <i class="circle icon mini teal"></i> 关于近期ctf大会
                           <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                       </span>
                       <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                   </a>
                   <a href="#" target="_blank" class="item">
                       <span>
                           <i class="circle icon mini teal"></i> 关于近期ctf大会
                           <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                       </span>
                       <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                   </a>
                   <a href="#" target="_blank" class="item">
                       <span>
                           <i class="circle icon mini teal"></i> 关于近期ctf大会
                           <div class="ui basic teal left pointing label m-padded-mini ">10月25</div>
                       </span>
                       <div class="ui basic orange left pointing label m-padded-mini ">原创</div>
                   </a>
   
               </div>

                <!--文章-->
            
           
        </div>
    </div>
        <br>  
        <br>
        <br><br>         
        
        
   

    <!--底部-->
    <footer class="ui inverted  vertical segment m-padded-tb-massive">     <!--11 vertical -->   <!--16 把框相框变大 自定义css  m-padded-tb-massive-->
        <div class="ui center aligned container">          <!-- 13 center aligned 居中文字-->
            <div class="ui grid stackable inverted divided">                      <!--11 grid 默认把文件分成16单位  现在分成3单位*3 加7单位  divided 添加线条 还要继续反色-->
                <div class="three wide column ">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="./static/images/me.jpg" class="ui rounded image" alt="" style="width: 10em;">    <!--12 rounded圆角 width调节大小-->
                        </div>
                    </div>  
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>    <!-- 13 添加文字-->     
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事(user stroy)</a>        <!-- 14 要写三行内容-->
                        <a href="#" class="item">用户故事(user stroy)</a>
                        <a href="#" class="item">用户故事(user stroy)</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>                <!-- 15 复制1份在另一个 three wide column中 -->
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email</a>
                        <a href="#" class="item">用户故事(user stroy)</a>
                        <a href="#" class="item">用户故事(user stroy)</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">最新博客</h4> 
                    <p class="m-opacity-mini "> 博客是一个面向开发者的知识分享社区。自创建以来,博客一直致力并专注于为开发者打造一个纯净的技术交流社区</p>
                </div>
            </div>
            <div class="ui inverted section divider "></div>                   <!--17 添加分隔线 -->
            <p class="m-text-spaced m-opacity-tiny"> Copyright@2020-2025 jianglf Design by jianglf</p>     <!-- 18 自定义一些样式 透明度等--> 
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  <!--2.引入jqurey-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>  <!--2.引入jqurey-->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script> <!-- 1.引入cdn-->

    <script>
        $('.menu.toggle').click(function(){
            $('.m-item').toggleClass('m-mobile-hide'); 
        });

    </script>
</body>
</html>